@model IEnumerable<WeatherApp2.ModelsView.WeatherSnap>

@{
    ViewBag.Title = "Index";
}

<h2>Weather List</h2>

<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Time)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.CityName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Temp)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Humidity)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Time)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.CityName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Temp) °C
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Humidity) %
        </td>
        
    </tr>
}

</table>
